*{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    font-family: Verdana, Geneva, sans-serif;
    min-height: 100vh;
}

nav{
    background-color: pink;
    width: 220px;
    padding: 20px;
}

.container{
    flex: 1;
    display: flex;
    flex-direction: column;
}

header{
    background-color: khaki;
    height: 150px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

main{
    flex: 1;
    display: flex;
}

article{
    flex: 3;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

aside{
    flex: 1;
    background-color: cyan;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    background-color: khaki;
    height: 150px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
