body {
  font-family: Arial, sans-serif;
  background: linear-gradient(90deg, #d9d9d9 0%, #f5f5f5 50%, #ffffff 100%);
  margin: 0;
  padding: 0;
}

#header {
  background-color: burlywood;
  text-align: center;
  margin: 3vh;
  padding: 0.5em;
}

#header h1 {
  color: navy;
}

#header blockquote {
  background-color: rgb(241, 188, 41);
  font-family: "Times New Roman", Times, serif;
  padding: 1vh;
  border: dotted;
  font-size: 20px;
}
.navbar-link {
  text-align: center;
}
.navbar-link a {
  color: purple;
  font-size: 20px;
}

.gambar {
  text-align: center;
}
.gambar img {
  width: 20%;
}
.isi B {
  color: blue;
  font-size: 12vh;
}
.isi {
  margin-top: -20px;
}

.koleksi {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: 400px;
  margin: auto;
}

.koleksi img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 10px;
}

.promo {
  text-align: center;
  flex: 1;
  padding-bottom: 0;
}
.promo strong {
  color: red;
}
.promo h2 {
  color: brown;
}
.link a {
  text-decoration: none;
  padding: 15px;
}

.link a:hover {
  text-decoration: underline;
  color: purple;
}
