body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-left: 40px;
  width: 90%;
  background: #fff;
  padding: 10px;
  text-align: center;
  border: 2px solid #000000;
  margin-bottom: 20px;
}

.navbar a {
  display: inline-block;
  margin: 0 3%;
  text-decoration: none;
  color: black;
  padding: 0 8px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  padding: 20px;
}

.container {
  display: flex;
  align-items: flex-start;
  gap: 20px; /* jarak gambar dan form */
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-box {
  width: 200px;
  height: 200px;
  border: 2px solid #000;
  background: #f9f9f9;
  background-size: 20px 20px;
}

.left button {
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px solid #000;
  background: #fff;
}

.right {
  flex: 1;
  margin-left: -10px;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  width: 160px;
  text-align: right;
  margin-right: 10px;
}

input,
select,
textarea {
  flex: 1;
  padding: 5px;
  border: 1px solid #000;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

textarea {
  resize: none;
}

.generate-btn {
  background: green;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}
